body {
  background-image: url("background1.png");
    background-repeat:repeat;
}

p{
 color: #FCD3DE;
 font-family: 'Niramit', sans-serif;

}
#title {
  text-align: center;
  color: #FCD3DE;
  text-shadow: 0 0 15px #72A1E5;
  font-family: 'Pacifico', cursive;
  font-size: 45px;
}

#linething  {
  position:
sticky;
  top:0.75%;
    height: 0;
    box-shadow: 0 0 15px 1.5px #72A1E5;
}
#linething2  {
  position:
sticky;
  top: 11.75%;
    height: 0;
    box-shadow: 0 0 15px 1.5px #72A1E5;
}

#menu {
  position:
sticky;
  top: 2%;
    background-color: #72A1E5;
    overflow: hidden;
    font-family: 'Niramit', sans-serif;
}


#menu a {
    float: left;
    color: #FCD3DE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Niramit', sans-serif;
    font-size: 17px;
}


#menu a:hover {
    background-color: #50C9CE;
    color: #9883E5;
    font-family: 'Niramit', sans-serif;
}


#menu a.active {
    background-color: #50C9CE;
    color: #9883E5;
    font-family: 'Niramit', sans-serif;
}

footer{
 color: #FCD3DE;
 font-family: 'Niramit', sans-serif;

}

article {
   color: #FCD3DE;
   border: 2px;
   border-color: #FCD3DE;
   font-family: 'Niramit', sans-serif;
}
